@font-face {
  font-family: "arial";
  src: url("../src/fonts/arial-greek.ttf");
}

.myDesc p {
  text-align: left;
  font-size: 0.9rem;
  word-spacing: 3px;
  line-height: 25px;
}

.progressBarContainer {
  border-radius: 16px;
  width: 90%;
  height: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  transition-duration: 200ms;
}

.progressBarContainer:hover {
  transform: scale(0.99);
}

.DarkProgressBarContainer {
  background-color: rgb(49, 49, 49, 0.7);
}

.LightProgressBarContainer {
  background-color: rgb(245, 245, 247);
}

.progressCard {
  font-size: 0.9rem;
  display: flex;
  gap: 10px;
  flex-direction: column;
  text-align: start;
  width: 90%;
  margin-top: 25px;
}

.DarkCounterDiv {
  background-color: rgb(49, 49, 49, 0.7);
}

.LightCounterDiv {
  background-color: rgb(245, 245, 247);
}

.CounterDivSmall {
  flex-direction: column;
}

.CounterDivMedium {
  flex-direction: row;
}

.CounterDiv {
  padding: 20px;
  border-radius: 16px;
  display: flex;
  transition-duration: 200ms;
}

.CounterDiv:hover {
  transform: scale(0.98);
}

.Count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.CountSmall {
  text-align: center;
}

.CountMedium {
  text-align: left;
}

.Count h3 {
  font-size: 2.4rem;
  font-family: "arial";
  margin: 0;
  margin-top: 20px;
}

@media only screen and (max-width: 1200px) {
  .Count h4 {
    color: rgba(99, 99, 99, 0.7);
    font-family: "arial";
    font-size: 1rem;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1201px) {
  .Count h4 {
    color: rgba(99, 99, 99, 0.7);
    font-family: "arial";
    font-size: 1.1rem;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .topicName {
    font-size: 1.8rem;
    font-family: "arial";
    text-align: left;
  }
}

@media only screen and (min-width: 601px) {
  .topicName {
    font-size: 3rem;
    font-family: "arial";
    text-align: left;
  }
}

.imgHolder {
  border-radius: 16px;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgHolder2 {
  border-radius: 16px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgHolder img {
  transition-duration: 600ms;
}

.imgHolder img:hover {
  transform: scale(1.05);
}

.imgHolder2 img {
  transition-duration: 600ms;
}

.imgHolder2 img:hover {
  transform: scale(1.05);
}

/* progress card container pop animation */
@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.popInAnimation {
  animation: popIn 0.6s ease-out forwards;
}
/* progress card container pop animation */
