@font-face {
  font-family: "arial";
  src: url("../src/fonts/arial-greek.ttf");
}

.backGroundGif_NightTime {
  background-image: url("assets/images/gifs/pokemon-nighttime.gif");
}

.backGroundGif_DayTime {
  background-image: url("assets/images/gifs/pokemon-daytime.gif");
}

.message {
  width: 100px;
  border-radius: 20px;
  padding: 8px 15px;
  display: inline-block;
  color: white;
  font-family: monospace;
  font-size: 16px;
  font-weight: 500;
}

.introTxt {
  color: white;
  font-family: monospace;
  font-size: 16px;
  font-weight: 500;
}

.yours .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: var(--main-blue-color);
  border-bottom-right-radius: 15px;
}

.yours .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: var(--body-background-color);
  border-bottom-right-radius: 10px;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color: var(--main-blue-color);
  position: relative;
}

.messages {
  display: flex;
  flex-direction: column;
}

.userProfileCard {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.myName {
  font-family: monospace;
  font-size: 36px;
  font-weight: 500;
}

.myTitle {
  font-family: monospace;
  font-size: 16px;
  font-weight: 500;
  margin-top: -23px;
  color: rgb(161, 161, 164);
}

.avatarWithOpacity {
  opacity: 0.8; /* Adjust the opacity value as needed */
}

.userPositions {
  margin-top: 10vh;
}

.positions {
  font-family: "arial";
  font-size: 6vw;
  word-spacing: 5px;
}
