@font-face {
  font-family: "arial";
  src: url("../src/fonts/arial-greek.ttf");
}

@font-face {
  font-family: "helvetica";
  src: url("../src/fonts/helvetica.ttf");
}

.backGroundGif_DayTime {
  background-image: url("assets/images/gifs/pokemon-daytime.gif");
}

.message {
  width: 100px;
  border-radius: 20px;
  padding: 8px 15px;
  display: inline-block;
  color: white;
  font-family: monospace;
  font-size: 13.5px;
  font-weight: 500;
}

.introTxt {
  color: white;
  font-family: monospace;
  font-size: 13.5px;
  font-weight: 500;
}

.yours .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: var(--main-blue-color);
  border-bottom-right-radius: 15px;
}

.yours .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: var(--body-background-color);
  border-bottom-right-radius: 10px;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color: var(--main-blue-color);
  position: relative;
}

.messages {
  display: flex;
  flex-direction: column;
}

.userProfileCard {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.myName {
  font-family: monospace;
  font-size: 1.7rem;
  font-weight: 500;
  text-align: start;
}

.myTitle {
  text-align: start;
  font-family: monospace;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: -18px;
  color: rgb(161, 161, 164);
}

.avatarWithOpacity {
  opacity: 0.8; /* Adjust the opacity value as needed */
}

.userPositions {
  margin-top: 10vh;
  height: 20vh;
  position: relative;
}

.positions {
  font-family: "arial";
  font-size: 6vw;
  word-spacing: 5px;
}

.somethingAboutMe {
  font-size: 0.9rem;
  display: flex;
  align-items: start;
  word-spacing: 3px;
  line-height: 25px;
  box-sizing: border-box;
}

.downloadBtn {
  cursor: pointer;
  width: fit-content;
  padding: 15px;
  border-radius: 6px;
  transition-duration: 250ms;
  display: flex;
  gap: 10px;
  align-items: center;
}

.downloadBtn:hover {
  transform: scale(1.05);
}

.DarkdownloadResumeBtn {
  background-color: rgb(49, 49, 49, 0.7);
}

.LightdownloadResumeBtn {
  background-color: rgb(245, 245, 247);
}

.availableDiv {
  background-color: rgba(0, 123, 255, 0.3);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 60px;
  color: rgba(0, 123, 255);
  font-family: monospace;
  font-size: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.bouncingDot {
  margin-top: 5px;
  width: 10px;
  height: 10px;
  background-color: rgb(50, 144, 246);
  border-radius: 50%;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.socialMediaSection {
  height: 200px;
  width: 100%;
}

.socialMediaBtn {
  height: 50px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  font-size: 0.9rem;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  cursor: pointer;
}

.socialMediaBtn:hover {
  transform: scale(1.05);
}

.DarkSocialMediaBtn {
  background-color: rgb(49, 49, 49, 0.7);
}

.LightSocialMediaBtn {
  background-color: rgb(245, 245, 247);
}
