@font-face {
  font-family: "arial-greek";
  src: url("../fonts/arial-greek.ttf");
}

@font-face {
  font-family: "quicksand";
  src: url("../fonts/Quicksand-Regular.ttf");
}

* {
  font-family: "quicksand";
  font-weight: 700;
}

.navbarContainer {
  border-radius: 10px;
  height: 70px;
}

.sectionsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sectionsContainer span {
  cursor: pointer;
  transition: ease-in-out 0.4s;
}

.sectionsContainer span:hover {
  box-sizing: border-box;
  scale: 1.05;
}

.darkOrLightMode {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myLogoContainer {
  display: flex;
  justify-content: left;
  padding-left: 30px;
  align-items: center;
}

.myLogoContainer img {
  transition: ease-in-out 0.4s;
}

.myLogoContainer img:hover {
  scale: 1.08;
}

.default {
  background-color: rgb(49, 49, 49, 0.7);
  background-color: rgb(239, 241, 241, 1);
}

.collapseIconContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 30px;
}

.collapseIconContainer img {
  transition: ease-in-out 0.4s;
}

.collapseIconContainer img:hover {
  cursor: pointer;
  opacity: 0.6;
}
