.sectionsContainer {
  margin-top: 10%;
  padding-left: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  font-size: 1.1rem;
}

.sectionsContainer h5 {
  font-size: 0.9rem;
  margin-top: 40px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.sectionsContainer h5:hover {
  box-sizing: border-box;
  scale: 1.05;
}
